@model ShopTARge23.Models.OpenWeathers.OpenWeatherViewModel

<div class="container">
    <h2>Weather for @Html.DisplayFor(model => model.CityName)</h2>
    <hr />
    <dl class="row text-dark">
        <div class="form-group row">
            <label asp-for="Temperature" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Temperature) °C
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="form-group row">
            <label asp-for="WeatherMain" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.WeatherMain)
        </div>

        <div class="form-group row">
            <label asp-for="FeelsLike" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FeelsLike) °C
        </div>

        <div class="form-group row">
            <label asp-for="TempMin" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMin) °C
        </div>

        <div class="form-group row">
            <label asp-for="TempMax" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMax) °C
        </div>

        <div class="form-group row">
            <label asp-for="Humidity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Humidity) %
        </div>

        <div class="form-group row">
            <label asp-for="Pressure" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Pressure) hPa
        </div>

        <div class="form-group row">
            <label asp-for="WindSpeed" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.WindSpeed) m/s
        </div>

        <div class="form-group row">
            <label asp-for="Cloudiness" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Cloudiness) %
        </div>
    </dl>
</div>

<div class="container">
    <form method="get">
        <button asp-controller="OpenWeathers" asp-action="Index" class="btn btn-success">Back to Search</button>
    </form>
</div>